# Libraries

In [1]:
import pandas as pd
import numpy as np
import math
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import preprocessing

# Dataset Pre-Processing

In [18]:
# TODO : Copy Dataframes here
with open('C:/Users/Kaushal Kavuri/Downloads/TravelPackageRecommender-main/TravelPackageRecommender-main/travel_cb.txt') as f:
    lines = f.readlines()

for i in range(len(lines)):
    lines[i]=lines[i].strip()
    
count = 0
dic = {}
inner = {}
for i in range(len(lines)):
    dic[count] = {}
    pos = lines[i].find(":")
    if(pos != -1):
        attr = lines[i][:pos]
        val = lines[i][pos+2:len(lines[i])-1].strip()
        inner[attr] = val
        if(attr == "Hotel"):
            dic[count] = inner
            inner = {}
            count += 1
print(dic[10])

{'JourneyCode': '11', 'HolidayType': 'City', 'Price': '1978', 'NumberOfPersons': '2', 'Region': 'Cairo', 'Transportation': 'Plane', 'Duration': '7', 'Season': 'April', 'Accommodation': 'ThreeStars', 'Hotel': '"Hotel Victoria, Cairo"'}

In [19]:
main=pd.DataFrame.from_dict(dic,orient="index")
N = 3
# Drop last N columns of dataframe
df = main.iloc[: , :-N]
# drop rows with NaN as values
df = df.dropna()
# add feature - weight
df['Weight'] = 1
df

,JourneyCode,HolidayType,Price,NumberOfPersons,Region,Transportation,Duration,Season,Accommodation,Hotel,Weight
0,1,Bathing,2498,2,Egypt,Plane,14,April,TwoStars,"""Hotel White House, Egypt""",1
1,2,Bathing,3066,3,Egypt,Plane,21,May,TwoStars,"""Hotel White House, Egypt""",1
2,3,Active,2778,2,Egypt,Plane,14,June,TwoStars,"""Hotel Geisum, Egypt""",1
3,4,Bathing,3195,3,Egypt,Plane,7,July,ThreeStars,"""Hotel Al Mashrabia, Egypt""",1
4,5,Bathing,3158,2,Egypt,Plane,14,September,ThreeStars,"""Hotel Al Mashrabia, Egypt""",1
...,...,...,...,...,...,...,...,...,...,...,...
1471,1443,Bathing,1518,2,TurkishRiviera,Plane,14,December,ThreeStars,"""Hotel Santana, Turk. Riviera""",1
1473,1465,Recreation,1878,2,Tunisia,Plane,14,November,ThreeStars,"""Hotel Quatre Saisons, Tunisia""",1
1475,1466,Recreation,1765,3,Tunisia,Plane,7,January,ThreeStars,"""Hotel Quatre Saisons, Tunisia""",1
1477,1465,Recreation,1878,2,Tunisia,Plane,14,November,ThreeStars,"""Hotel Quatre Saisons, Tunisia""",1
1479,1466,Recreation,1765,3,Tunisia,Plane,7,January,ThreeStars,"""Hotel Quatre Saisons, Tunisia""",1

In [23]:
df["Accommodation"].unique()

array(['TwoStars', 'ThreeStars', 'FourStars', 'FiveStars', 'HolidayFlat',
       'OneStar'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1475 entries, 0 to 1479
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   JourneyCode      1475 non-null   object
 1   HolidayType      1475 non-null   object
 2   Price            1475 non-null   object
 3   NumberOfPersons  1475 non-null   object
 4   Region           1475 non-null   object
 5   Transportation   1475 non-null   object
 6   Duration         1475 non-null   object
 7   Season           1475 non-null   object
 8   Accommodation    1475 non-null   object
 9   Hotel            1475 non-null   object
 10  Weight           1475 non-null   int64
dtypes: int64(1), object(10)
memory usage: 138.3+ KB

In [15]:
#TODO: Normalize data into numerical values
#creating labelEncoder
le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
# https://stackoverflow.com/questions/42196589/any-way-to-get-mappings-of-a-label-encoder-in-python-pandas
df['Transportation']=le.fit_transform(df['Transportation'])
le.fit(df['Transportation'])
le_transportation_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['Transportation']=le.transform(df['Transportation'])
le.fit(df['Season'])
le_season_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['Season']=le.transform(df['Season'])
df['Season']

0        0
1        8
2        6
3        5
4       11
        ..
1471     2
1473     9
1475     4
1477     9
1479     4
Name: Season, Length: 1475, dtype: int32

{'April': 0,
 'August': 1,
 'December': 2,
 'February': 3,
 'January': 4,
 'July': 5,
 'June': 6,
 'March': 7,
 'May': 8,
 'November': 9,
 'October': 10,
 'September': 11}

In [17]:
le.fit(df['HolidayType'])
le_holiday_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['HolidayType']=le.transform(df['HolidayType'])

le.fit(df['Region'])
le_region_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['Region']=le.transform(df['Region'])

le.fit(df['Accommodation'])
le_acc_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['Accommodation']=le.transform(df['Accommodation'])

le.fit(df['Hotel'])
le_hotel_mapping = dict(zip(le.classes_, le.transform(le.classes_)))
df['Hotel']=le.transform(df['Hotel'])
df.head()

# df.Transportation.unique()

0       5
1       5
2       5
3       4
4       4
       ..
1471    4
1473    4
1475    4
1477    4
1479    4
Name: Accommodation, Length: 1475, dtype: int64

,JourneyCode,HolidayType,Price,NumberOfPersons,Region,Transportation,Duration,Season,Accommodation,Hotel,Weight
0,1,1,2498,2,27,2,14,0,5,413,1
1,2,1,3066,3,27,2,21,8,5,413,1
2,3,0,2778,2,27,2,14,6,5,260,1
3,4,1,3195,3,27,2,7,5,4,187,1
4,5,1,3158,2,27,2,14,11,4,187,1

## Data Split

In [ ]:
# TODO: split data as train and test

# X = data without 'Price' and 'JourneyCode'
X = df.iloc[:,0:]
X = X.drop(df.columns[[2]], axis=1)  # df.columns is zero-based pd.Index
#X.head()
X = X.values

# min max scaler - scaling values
#MinMaxScaler = preprocessing.MinMaxScaler()
#X = MinMaxScaler.fit_transform(X)
#X

In [79]:
# target label = Price
Y = df['Price']
Y = Y.values
Y

array(['2498', '3066', '2778', ..., '1765', '1878', '1765'], dtype=object)

# KNN Algorithm

In [69]:
def euclidean_distance(self,a,b,w = 1): # initial weight = 1
    return np.sqrt(np.sum(w*((a-b)**2)))

class KNN:
    def __init__(self, K = 3):
        self.K = K
    
    def fit(self,X,y):
        self.X_train = X
        self.y_train = y
        
    def predict(self,samples):
        predicted_labels = [self._predict(sample) for sample in samples]
        return np.array(predicted_labels)
    
    def _predict(self,sample):
        # distance between sample and training points
        distances = [euclidean_distance(sample,self.x_train) for x_train in self.X_train]
        
        # get k-nearest data after sorting
        k_nearest_indices = np.sort(distances)[:self.K]
        # get k-nearest data labels
        k_nearest_labels = [self.y_train[i] for i in k_nearest_indices]
        # arrange frequency to get common class label
        most_common = Counter(k_nearest_labels).most_common(1)
        return most_common[0][0]

In [70]:
# need to minmax scaling or one-hot encoding of the data?
# splitting data - 0.1%
# user query - given
# three best choices - 
# generating 3 hard coded questions - ask about questions.

In [ ]:
# MinMax scaling is, I believe, not uncessesary cause we only need to find similarities between case
# Using it causes issues when translating the inputs to the scaled values!!

In [ ]:
flag=1
print("Enter the case below:")
destination=input("Enter your destination region")
print("Select one out of three questions")
while(flag):
    ques=["Duration of your stay ", "Number of people for the stay ", "Type of destination (city/countryside) ", "Do you want a more expensive or cheaper accomodation", "Not satisfied with results?", "Need more options?"]        #Not satisfied with results will ask if the customer wants to start over or end the conversation &&& Need more options will display the next three results.
    #add more questions and print only first three questions at a time and display the results each time.
    while(1):
        for i in range(3):
            print(i+") "+ques[i])
        slt=input("Select one: ")
        op=ques[slt-1]
        ques=ques[:slt]+ques[slt+1:]
        if(op=="Duration of your stay"):
            dur=input()
            #insert duration variable into the input vector
            #call for euclidean distance over all samples
            continue
        if(op=="Number of people for the stay"):
            pop=input()
            #same as above
            #calculate the price according to number of people using (total price)/(number of people) if the number of people in the retrived case is not the same
            continue
        if(op=="Type of destination (city/countryside)"):
            pop=input()
            #same as above
            continue
        if(op=="Do you want a more expensive or cheaper accomodation"):
            accprice=input("Enter 1 for better acc and 0 for cheaper acc")
            #go through the list of acc for cheaper or richer options and display 3
            continue
        if(op=="Not satisfied with results?"):
            if(input("Want to start over? 1 for yes 0 for no")==1):
                break
            else:
                return
        if(op=="Need more options?"):
            #print next three options
            continue